@font-face {
  font-family: 'Source Sans Pro';
  src: url('./source-sans-pro-regular.eot');
  src: url('./source-sans-pro-regular.eot?#iefix') format('embedded-opentype'),
    url('./source-sans-pro-regular.woff') format('woff'),
    url('./source-sans-pro-regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./source-sans-pro-italic.eot');
  src: url('./source-sans-pro-italic.eot?#iefix') format('embedded-opentype'),
    url('./source-sans-pro-italic.woff') format('woff'),
    url('./source-sans-pro-italic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./source-sans-pro-semibold.eot');
  src: url('./source-sans-pro-semibold.eot?#iefix') format('embedded-opentype'),
    url('./source-sans-pro-semibold.woff') format('woff'),
    url('./source-sans-pro-semibold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./source-sans-pro-semibold-italic.eot');
  src: url('./source-sans-pro-semibold-italic.eot?#iefix') format('embedded-opentype'),
    url('./source-sans-pro-semibold-italic.woff') format('woff'),
    url('./source-sans-pro-semibold-italic.ttf') format('truetype');
  font-display: swap;
  font-style: italic;
  font-weight: 600;
}
